<div class="div_size aboutBack">
    <p class="centered text_style">
        We at Simcha Padolsky Flowers take care of beautiful, fresh and stunning flowers! <br>
        Here you can order flowers to complete after a quarrel, for a funeral, for Valentine's Day or just for a day
        without peace.
    </p>
</div>