<header>
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Our flowers</h1>
            <p>Our flowers is best flowers in the world! <br> We are thinking and coding! </p>
        </div>
    </section>
</header>

<body>
    <div class="text-center grid">
        <% flowersCatalog.forEach(function(flower) { %>
        <div class="card">
            <div style="height: 80px;">
                <img src="<%= flower.picture %>" alt="..." class="round_corner" width="100%" height="100%">
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= flower.name %></h5>
                <h4 class="card-title" id="flowerPrice">Price:  <%= flower.price %>  ₪</h5>
            </div>
        </div>
        <% }) %>
    </div>
</body>