<!DOCTYPE html>
<html lang="he" id="root">

<head>
  <script>
    let user = "<%= Myuser %>"; 
  </script>
  <% include partials/head %>
</head>

<body>
  <header id="header">
    <% include partials/header %>
  </header>
  <main>
    <% include partials/main %>
  </main>
  <footer>
    <% include partials/footer %>
  </footer>
</body>
</html>